/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* Size */
  --size-max-width: 1200px;

  /* Scroll */
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
span,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.section__title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.section__description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Header */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1;
  transition: background-color 200ms ease;
}

.header--primary {
  background-color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__image {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
}

.header__toggle {
  display: none;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  display: block;
  padding: 8px 16px;
  border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  color: var(--color-accent);
}

/* Home */
#home {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

.home__profile {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid var(--color-accent);
  border-radius: 100%;
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__description {
  font-size: 1.3rem;
}

.home__contact {
  background-color: var(--color-accent);
  border-radius: 4px;
  margin: 2rem;
}

.home__contact--strong {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--color-primary);
  font-weight: bold;
}

.home__contact:hover {
  background-color: transparent;
  outline: 1px solid var(--color-accent);
}

.home__contact:hover .home__contact--strong {
  color: var(--color-accent);
}

/* About */
.work {
  display: flex;
  gap: 1rem;
  margin: 2.5rem 0;
}

.work__item {
  background-color: var(--color-primary-variant);
  width: 25%;
  border-radius: 4px;
  padding: 2rem 1rem;
  color: var(--color-text);
  cursor: default;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.work__icon {
  font-size: 3rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.work__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.work__item:hover .work__icon {
  transform: scale(1.2) rotate(-10deg);
}

.education__item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.education__logo {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  margin: 0 1rem;
}

.education__degree {
  color: var(--color-primary);
}

.education__school {
  color: var(--color-primary);
  font-size: 0.8rem;
}

/* Web Development */
#web-dev {
  background-color: var(--color-primary-variant);
  color: var(--color-text);
}
.web-dev__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  margin: 2rem 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

.web-dev__skills {
  background-color: var(--color-primary);
  backdrop-filter: brightness(2);
  padding: 1rem;
}

.web-dev__tools {
  padding: 1rem;
}

.web-dev__projects {
  grid-column: span 2;
  background-color: var(--color-primary);
  padding: 1rem;
}

.web-dev__title {
  color: var(--color-accent);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.coding-skills {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-bottom: 1rem;
}

.coding-skills__item {
  max-width: 200px;
}

.coding-skills__title {
  color: var(--color-accent);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.web-dev__projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.web-dev__projects__item {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.web-dev__project__image {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.web-dev__project__metadata {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-1rem);
  transition: all 200ms ease-in;
}

.web-dev__project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0);
}

.web-dev__project__title {
  font-weight: bold;
}

.web-dev__project__title:after {
  content: '';
  display: block;
  margin: 0.5rem auto;
  background-color: var(--color-accent);
  width: 50px;
  height: 2px;
}

/* Calligraphy */
.calligraphy__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.categories__list {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

.category {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 4px;
  padding: 0.5rem 3rem;
  opacity: 0.3;
  white-space: nowrap;
  cursor: pointer;
  transition: all 200ms ease;
}

.category--selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
  opacity: 1;
}

.category__count {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  background-color: var(--color-accent-variant);
  filter: brightness(1.5);
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 100%;
  color: var(--color-text);
  opacity: 0;
  transition: all 200ms ease;
}

.category:hover {
  background-color: transparent;
  outline: 1px solid var(--color-accent);
  color: var(--color-primary);
  opacity: 0.8;
}

.category:hover .category__count,
.category--selected .category__count {
  opacity: 1;
}

.calligraphy__projects__list {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--color-primary-variant);
  border-radius: 4px;
  margin: 2rem 0;
  padding: 1rem;
}

.calligraphy__projects__list::-webkit-scrollbar {
  background-color: var(--color-white);
  height: 8px;
  border-radius: 2px;
}

.calligraphy__projects__list::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 4px;
}

.calligraphy__projects__item {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}

.calligraphy__project__image {
  max-height: 300px;
  object-fit: cover;
}

.calligraphy__project__metadata {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-1rem);
  transition: all 200ms ease-in;
}

.calligraphy__project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0);
}

.calligraphy__project__title {
  font-weight: bold;
}

.calligraphy__project__title:after {
  content: '';
  display: block;
  margin: 0.5rem auto;
  background-color: var(--color-accent);
  width: 50px;
  height: 2px;
}

/* Arrow Up */
.arrow-up {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: var(--color-primary);
  box-shadow: var(--color-accent) 0px 6px 4px;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  text-align: center;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.arrow-up--visible {
  opacity: 1;
}

.arrow-up__link {
  transition: all 200ms ease-in;
}

.arrow-up__link:hover {
  color: var(--color-accent);
}

/* Footer */
#contact {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.contact__links__list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.contact__link {
  transition: color 200ms ease;
}

.contact__link:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 768px) {
  /* Common */
  .section {
    padding: 4rem 2rem;
  }

  .section__title {
    font-size: 2rem;
  }

  .section__description {
    font-size: 1rem;
  }

  /* Header */
  .header {
    flex-direction: column;
    align-items: start;
  }

  .header__nav {
    width: 100%;
  }

  .header__toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    color: var(--color-text);
    font-size: 1.5rem;
  }

  .header__menu {
    display: none;
    background-color: var(--color-primary);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
    gap: 1.5rem;
  }

  .header__menu.open {
    display: grid;
  }

  .header__menu__item {
    text-align: center;
  }

  /* Home */
  #home {
    padding-bottom: 3rem;
  }

  .home__title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .home__description {
    font-size: 1rem;
  }

  /* About */
  .work {
    flex-direction: column;
    align-items: center;
  }

  .work__item {
    width: 100%;
    max-width: 23rem;
    padding-top: 1rem;
  }

  .education__item {
    justify-content: center;
  }

  /* Web Developement */
  .web-dev__grid {
    grid-template-columns: 1fr;
  }

  .web-dev__projects {
    grid-column: auto;
    width: 100%;
  }

  .coding-skills__item {
    width: 50%;
  }

  .web-dev__projects__list {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Calligraphy */
  .categories__list {
    flex-direction: column;
    align-items: center;
  }

  .category {
    min-width: 12rem;
  }

  .calligraphy__project__image {
    max-height: 200px;
  }

  /* Arrow Up */
  .arrow-up {
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}
